@import 'shared.scss';

h1 {
    font-size: 1.7rem;
    line-height: 1.5em;
    font-weight: 700;
}

.container {
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
}

.app-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: color .3s ease, background-color .3s ease;

    @include theme() {
        color: theme-get('color-text');
        background-color: theme-get('bg-body');
    }

    > * {
        width: 100%;
    }

}

/** HEADER **/

header {
    margin-bottom: 2.4rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mode-btn {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    font-weight: 700;
    letter-spacing: 2.5px;
    position: relative;
    padding-right: 2rem;
    cursor: pointer;
    @include theme() {
        color: theme-get('color-text');
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1.3rem;
        height: 1.3rem;
        @include theme() {
            background-image: theme-get('mode-img');
        }
    }

    &:hover {
        @include theme() {
            color: theme-get('color-mode-hover');
        }
    }

    &:hover::after {
        @include theme() {
            background-image: theme-get('mode-img-hover');
        }
    }
}

/** SEARCHBAR **/

.searchbar-container {
    border-radius: $borderRadiusDiv;
    padding: .7rem .7rem .7rem 2rem;
    display: flex;
    justify-content: space-between;

    @include theme() {
        background-color: theme-get('bg-div');
    }
}

.search-label {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1.6rem;
        height: 1.6rem;
        background-image: url(./images/icon-search.svg);
    }
}

.search-input {
    width: 100%;
    margin-left: 3rem;
    border: none;
    background-color: transparent;

    &::placeholder {
        font-family: 'Space Mono', monospace;
        font-size: 1.2rem;
        @include theme() {
            color: theme-get('color-placeholder');
        }
    }
}

.search-btn {
    color: #fff;
    border: none;
    border-radius: $borderRadiusBtn;
    background-color: hsl(212, 100%, 50%);
    font-weight: 700;
    font-size: 1.07rem;
    line-height: 1.5em;
    padding: .8rem 1.6rem;
    cursor: pointer;
    transition: background-color .3s ease;

    &:hover {
        background-color: hsl(212, 100%, 69%);
    }
}